* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  background-color: #dcdcdc;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.img {
  display: block;
  margin: auto;
  width: auto;
  border-radius: 20%;
  padding: 10px;
}

.btn {
  color: #fff;
  background: steelblue;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  cursor: pointer;
  margin-bottom: 20px;
  width: auto;
}

.interface {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.box {
  margin: 0 auto;
  width: 100%;
  height: 200px;
}

.input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px auto;
  color: #fff;
  background: steelblue;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  margin-bottom: 20px;
  width: auto;
}

.a {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.b {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.c {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.d {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.btn-input {
  color: #000;
  background: #f1f1f1;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  cursor: pointer;
  margin: 10px;
  width: auto;
}
